#![enable(implicit_some)]

Instrument(
    name: "Synth",
    envelopes: {
        "main-volume": (
            attack: Milliseconds(50),
            sustain: Sustain(0.6),
            release: Milliseconds(50),
        ),
    },
    nodes: {
        "output": Amplify(
            value: Value(0.1),
            input: "pan-right",
        ),
        "pan-right": Pan(
            value: Value(1.0),
            input: "velocity-amp",
        ),
        "velocity-amp": Amplify(
            value: NoteVelocity,
            input: "oscillators",
        ),
        "oscillators": Multiply(
            inputs: [ "sine", "triangle" ],
        ),
        "sine": Oscillator(
            function: Sine,
            frequency: NoteHertz,
            amplitude: Envelope("main-volume"),
        ),
        "triangle": Oscillator(
            function: Triangle,
            frequency: NoteHertz,
            amplitude: Envelope("main-volume"),
        ),
    },
)