#![enable(implicit_some)]

Instrument(
    name: "Synth",
    envelopes: {
        "main-volume": (
            attack: Milliseconds(10),
            sustain: Sustain(0.6),
            release: Milliseconds(50),
        ),
    },
    nodes: {
        "output": Amplify(
            value: Value(1.0),
            input: "velocity",
        ),
        "velocity": Amplify(
            value: NoteVelocity,
            input: "unison",
        ),
        "unison": Unison(
            detune: Value(0.01),
            input: "oscillators",
            quantity: 3,
        ),
        "oscillators": Multiply(
            inputs: [ "sine", "triangle" ],
        ),
        "sine": Oscillator(
            function: Triangle,
            frequency: NoteHertz,
            amplitude: Envelope("main-volume"),
        ),
        "triangle": Oscillator(
            function: Sine,
            frequency: NoteHertz,
            amplitude: Envelope("main-volume"),
        ),
    },
)